*{
    margin: 0;
}
@media  (max-width:300px){
    #body{
        /* display: none; */
        background-color:red;
    }
    
}
body { 
    background: url(https://i.pinimg.com/originals/ba/ea/d1/baead17e1cfaef7d7425bff3570a4f1e.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
#home_nav{
    background-color: rgba(0, 0, 0, 0.808);
    width:13%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#home{
    display:flex;
    height:100vh;
    width:100%;
}  
#home_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:87%;
}    

#name{
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    
}
.sub-title{
    text-align: center; 
    font-family: 'Rajdhani', sans-serif;
}

#logo{
    background-color:white;
    border-radius: 100%;
    height: 100px;
    width:100px;
    
}
#logo img{
    height: 100%;
    width: 100%;
}

.navbar{
    
    border-left: ridge white 2px;
    border-right: ridge white 2px;
    box-shadow: 0px 0px 0px;
    padding:10px;
    width:85px;
    height:18px;
    text-align: center;
    transition: ease-in-out;
    -webkit-transition: box-shadow 1.5s;
    -webkit-transition: padding 1s;
   
    
    
}
#home_nav .navbar a{
    color:white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}
.navbar:hover{
    box-shadow: 10px 10px 4px;
    -webkit-transition: box-shadow 1.5s;
    transition: ease-in;
    padding:15px;
    -webkit-transition: padding 1s;
}






#homeText{
    background-color:  #008080e8;
    height:75px;
    width:75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    box-shadow: 5px 5px 2px;
    border-radius: 30px;
    border: white solid 3px;
    
}

#homeText p {
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#nav{
    background-color: rgba(0, 0, 0, 0.808);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:20vh;
    font-family: 'Rajdhani', sans-serif;
    
}
#nav a :hover{
    box-shadow: 10px 10px 4px;
    -webkit-transition: box-shadow 1.5s;
    transition: ease-in;
    padding:15px;
    -webkit-transition: padding 1s;
    
}
#nav a{
    
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px; 
    color:white;

    
}
#main{
    
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

#projects{
    display: flex;
    width:100%;
    align-items: center;
    flex-flow: wrap;
    
    justify-content: space-around;
    /* justify-content: space-around;
    background: #008080e8;
    box-shadow: 5px 5px 2px; */
    /* border-radius: 30px;
    border: white solid 3px;
    flex-flow: wrap;
    margin: 20px; */
}
.project img{
    width:200px;
    height:120px;
    
    margin:3px;
    
}
.project h1{
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.project a{
    color:white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}
.project{
    background-color: rgba(0, 0, 0, 0.589);
    box-shadow: 5px 5px 2px;
    padding:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:400px;
    margin-bottom: 20px;
}
/* #sample{
    background-color:  #008080e8;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 5px 5px 2px;
    border-radius: 30px;
    border: white solid 3px;
    width: 75%;
    height:50%;
}
.project img{
    width:200px;
    height:120px;
    border: black solid 3px;
    margin:3px;
    border-radius:20px;
}
.project{
    align-items: center;
    box-shadow: 5px 5px 2px;
    border-radius: 30px;
    border: white solid 3px;
    justify-content: space-around;
    background-color:  #fa6400e8;
    padding:10px;
    flex-flow: column;
    display:flex;
    margin:10px;
}
.project h1{
    color:white;
    font-family: 'Montserrat', sans-serif; */
/*scrollbar*/
/*}*/
/* ::-webkit-scrollbar{
    width:17px;
    
}
::-webkit-scrollbar-track{
    background-color:rgba(39, 189, 235, 0.808);
    padding:1px;
}
::-webkit-scrollbar-thumb{
    background-color:  #008080cb;
    border:black 2px solid;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:  #0a7474e7;
} */
/* portfolio page */
/* #projects{
    display: flex;
    width:85%;
    
    padding:30px;
    align-items: center;
    justify-content: space-around;
    background: #008080e8;
    box-shadow: 5px 5px 2px;
    border-radius: 30px;
    border: white solid 3px;
    flex-flow: wrap;
    margin: 20px;
} */
/* #main{
    
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.project a{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:white;
}
.project:hover{
    background-color: blue;
} */

@-webkit-keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@-moz-keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}

.fade_in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
.fade_in.one{
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
 }

.fade_in.two{
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}