*{
    margin: 0;
}
@media  (max-width:300px){
    #body{
        /* display: none; */
        background-color:red;
    }
    
}
body { 
    background: url(https://i.pinimg.com/originals/ba/ea/d1/baead17e1cfaef7d7425bff3570a4f1e.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
#home_nav{
    background-color: rgba(0, 0, 0, 0.808);
    width:13%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#home{
    display:flex;
    height:100vh;
    width:100%;
}  
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:87%;
}    

#name{
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    
}
.sub-title{
    text-align: center; 
    font-family: 'Rajdhani', sans-serif;
}

#logo{
    background-color:white;
    border-radius: 100%;
    height: 100px;
    width:100px;
    
}
#logo img{
    height: 100%;
    width: 100%;
}

.navbar{
    
    border-left: ridge white 2px;
    border-right: ridge white 2px;
    box-shadow: 0px 0px 0px;
    padding:10px;
    width:85px;
    height:18px;
    text-align: center;
    transition: ease-in-out;
    -webkit-transition: box-shadow 1.5s;
    -webkit-transition: padding 1s;
   
    
    
}
#home_nav .navbar a{
    color:white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}
.navbar:hover{
    box-shadow: 10px 10px 4px;
    -webkit-transition: box-shadow 1.5s;
    transition: ease-in;
    padding:15px;
    -webkit-transition: padding 1s;
}






#homeText{
    background-color:  #008080e8;
    height:75px;
    width:75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    box-shadow: 5px 5px 2px;
    border-radius: 30px;
    border: white solid 3px;
    
}

#homeText p {
    color:white;
    font-family: 'Montserrat', sans-serif;
}
/* portfolio Css */
#nav{
    background-color: rgba(0, 0, 0, 0.808);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:20vh;
    font-family: 'Rajdhani', sans-serif;
    
}
#nav a :hover{
    box-shadow: 10px 10px 4px;
    -webkit-transition: box-shadow 0.5s;
    transition: ease-in;
    padding:15px;
    -webkit-transition: padding 1s;
    
}
#nav a{
    
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px; 
    color:white;

    
}


#main{
    
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

#projects{
    display: flex;
    width:100%;
    align-items: center;
    flex-flow: wrap;
    
    justify-content: space-evenly;
}
.project img{
    width:200px;
    height:120px;
    
    margin:3px;
    
}
.project h1{
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.project a{
    color:white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}
.project{
    background-color: rgba(0, 0, 0, 0.589);
    box-shadow: 5px 5px 2px;
    padding:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:400px;
    margin-bottom: 20px;
}
/*journalism section*/
.journals{
    margin: 5px;
    border: black 3px inset;
    box-shadow: rgba(0, 0, 0, 0.74) 7px 7px 7px;
}

/*Contact CSS*/
#contact_info{
    height:50%;
    width:80%;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}
#socials{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    display: flex;
    height:50%;
    width:100%;

    transition: padding 3s;
}
#other_contacts{
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
    height:50%;
    width:100%;
}

.social_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius: 25%;
    border: rgb(255, 238, 238) 7px solid;
    box-shadow: rgba(0, 0, 0, 0.527) 5px 5px;
    
    
}
/* .social_logo :hover{
    
    transition: ease-in;
    border:brown 3px solid;
    -webkit-transition:  1s;
} */
.social_logo img{
    width:75px;
    height:75px;
}
#socials :hover{
    
    padding:5px;
    transition: ease-out 1s;
    /* -webkit-transition: 0.5s; */
}
#socials :active{
    box-shadow: rgba(0, 0, 0, 0.527) 0px 0px;
    transition: ease-in-out;
    -webkit-transition: 0.5s;
}

#insta{
    background-color: rgba(216, 142, 154, 0.835);
    
}
#linkedIn{
    background-color: rgba(77, 77, 209, 0.801);
}
#twitch{
    background-color: blueviolet;
}
#github{
    background-color: rgba(58, 22, 73, 0.849);
}
#email{
    font-family: 'Rajdhani', sans-serif;
}

/* animation CSS */
@-webkit-keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@-moz-keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}

.fade_in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
.fade_in.one{
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
 }

.fade_in.two{
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}