*{
    margin: 0;
}
#nav{   
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:black;
    color:white;
    font-size:20px;
    padding:20px;
}
#logo{
    background-color:white;
    border-radius: 100%;
    height: 75px;
    width:75px;
    
}
#logo img{
    height: 100%;
    width: 100%;
}
.headshot{
    width:70%;
    height: 30%;
    border:solid black 7px;
    margin: 10px;

   
}
.navbar{
    color:white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
#body{
    display: flex;
    height:100vh;
}
#column{
    background-color: #008080ad;
    width:20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    

}
#columnTwo{
    width:80%;
}
#head{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 20%;
}
#content{
    height: 80%;
}