.typewriter {
  position: relative;
  padding: 1px;
  width: fit-content;
  font-weight: bold 200 !important;
  
  font-size: 75px;
  letter-spacing: 3px !important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 0%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@media (max-width: 767.98px) {
  .typewriter {
    width: 100%;
    font-size: 30px;
  }

  .subheading {
    font-size: 12px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 0%);
  }
  to {
    border-right-color: transparent;
  }
}

.home-header{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-projects{
  background-color: rgba(183, 240, 237, 0.829);
}

.karla{
  font-family: "Karla", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}