@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */



.typewriter {
  position: relative;
  padding: 1px;
  /* color: hsl(0, 0%, 68%); */
  width: fit-content;
  font-weight: bold 200 !important;
  font-family: "Karla", sans-serif !important;
  font-size: 75px;
  letter-spacing: 3px !important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 0%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@media (max-width: 767.98px) { 
  .typewriter{
    width: 100%;
    font-size: 50px;
    white-space: wrap;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 63%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 0%);
  }
  to {
    border-right-color: transparent;
  }
}

/* style={{
  fontFamily: "Karla, sans-serif",
  fontWeight: "200",
  fontStyle: "normal",
  fontSize: "75px"
}} */