@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --ff: "Inter", sans-serif;
  --h1: bold 2.25rem/1em var(--ff);
  --h2: bold 1.5rem/1.2em var(--ff);
  --h3: 1.25rem/1.2em var(--ff);
  --h4: bold 1rem/1.6em var(--ff);
  --big: 3rem/1em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75rem/2em var(--ff);

  --primary: #4dab6e;
  --secondary: #39e1ff;
  --accent: #d1edf3be;
}

/*html {
    margin: 0;
    overflow-y: hidden;
}*/

body {
  font-family: var(--ff);
  margin: 0;
  /*overflow-y: hidden;*/
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
h4 {
  font: var(--h4);
}
.big {
  font: var(--big);
}
p {
  font: var(--p);
}
.small {
  font: var(--small);
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5rem;
}

li > * {
  color: black;
  text-decoration: none;
}

li > *:hover {
  text-decoration: underline;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  overflow: hidden;
  /* background-color: red; */
}
.home-nav {
  width: 30%;
  border-left: black 1px solid;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  font-size: 1.125rem;
}

.home-main {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: start;
  padding-right: 4rem;
  padding-left: 4rem;
  overflow-y: scroll;
  padding-top: 30vh;
}

.home-name {
  width: fit-content;
}

.home-name > h1 {
  margin-right: 1rem;
}

.table-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.table-view > * {
  flex: 0 0 calc(50% - 20px);
}

.table-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  transition: 0.3s;
  padding: 0.25rem;
  max-width: fit-content;
}

.table-box > img {
  max-height: 45px;
  max-width: 45px;
  margin-right: 1rem;
}

.table-box > p {
  text-align: center;
  margin: 0;
}

.table-box:hover {
  /* background-color: var(--secondary);
  box-shadow: 2px 2px 3px var(--accent);
  color: white; */
  color: var(--secondary);
  text-decoration: underline;
}

.home-links > * {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 0.4rem;
}

.link-pic:hover .logo {
  fill: var(--primary);
}

.home-links {
  margin-bottom: 5rem;
}
.highlight-img {
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 2px rgb(212, 190, 190);
}

.highlight-footer > svg {
  height: 2.5rem;
}

.highlight-text {
  margin-bottom: 2rem;
}

.link-btn {
  background-color: transparent;
  transition: ease-in-out 0.15s;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: var(--secondary) solid 1px;
  text-align: center;
}

.link-btn:hover {
  background-color: var(--accent);
  border: transparent solid 1px;
}

.link-btn:active {
  background-color: var(--secondary);
}

.nav {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.nav > * {
  margin-right: 3.5rem;
  text-decoration: none;
  color: black;
}

.nav > *:hover {
  text-decoration: underline;
}

.mobile-nav {
  display: none;
}

.menu-btn {
  border: transparent;
  background-color: var(--accent);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.menu-btn > img {
  height: 35px;
}

.portfolio {
  height: 100vh;
  overflow: hidden;
}

.portfolio-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 20vh;
}

.proj-card {
  flex: 0 1 calc(33.3333% - 1%);
  margin-right: 1%;
  margin-bottom: 1rem;
  width: 30%;
  overflow-wrap: break-word;
  height: max-content;
  overflow-y: visible;
}

.proj-card > img {
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 1px 1px 2px rgb(212, 190, 190);
}

.proj-card > header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.proj-card > header > svg {
  height: 2rem;
}

.proj-card > div {
  margin-bottom: 1rem;
}

.tag {
  width: fit-content;
  padding: 0.5rem;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  background-color: white;
  border: solid 1px var(--primary);
  transition: ease-in-out 0.15s;
}

.tag:hover {
  background-color: var(--primary);
  color: white;
}

.typewriter {
  position: relative;
  padding: 1px;
  width: fit-content;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 0%);
  white-space: nowrap;
  animation: typewriter 2.5s steps(44) 0.6s 1 normal both,
    blinkTextCursor 500ms infinite;
}

/*Mobile view*/
@media only screen and (max-width: 767px) {
  .portfolio {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 3rem;
  }

  .portfolio-projects {
    justify-content: initial;
    flex-flow: column nowrap;
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .proj-card {
    flex: 0 0 none;
    margin-bottom: 1rem;
    margin-right: 0;
    max-width: fit-content;
    width: 100%;
  }

  .proj-card > img {
    max-width: 100%;
  }
}

/*Tablet View*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 0%);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-element {
  opacity: 0;
  animation: fadeUp 0.6s ease-out forwards;
}

.fade-up-element-1 {
  opacity: 0;
  animation: fadeUp 0.6s ease-out 0.2s forwards;
}

.fade-up-element-2 {
  opacity: 0;
  animation: fadeUp 0.6s ease-out 0.4s forwards;
}

.fade-up-element-3 {
  opacity: 0;
  animation: fadeUp 0.6s ease-out 0.6s forwards;
}
